.page-top.animated.fadeInDown
  .nav
    li
      if is_home()
        a.current(href="/h-blog")= __('Home')					
      else
        a(href="/h-blog")= __('Home')	
    li
      if is_archive()
        a.current(href="/h-blog/archives")= __('Archive')
      else
        a(href="/h-blog/archives")= __('Archive')
    li
      if is_current('tagsCloud')
        a.current(href="/h-blog/tagsCloud")= __('TagsCloud')					
      else
        a(href="/h-blog/tagsCloud")= __('TagsCloud')
    li
      if is_current('about')
        a.current(href="/h-blog/about")= __('About')     
      else
        a(href="/h-blog/about")= __('About')
  .information
    .back_btn
      li
        if is_post()
          a.fa.fa-chevron-left(onclick="window.history.go(-1)") 
        else
          a.fa.fa-chevron-left(onclick="window.history.go(-1)",style="display:none;") 
    .avatar
      img(src=theme.avatar)
